#
# Igonre all interpreted python byte code
#
*.pyc

#
# Igonre all reviews output files and folder
#
*.csv
*Reviews/
Dialects/

#
# Ignore PyCharm IDE project folder
#
.idea

#
# Ignore Chrome Driver
#
chromedriver*